.form {
    margin-top: 20px;
}

.filter {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    tr, th, td {
        border: 1px solid #ccc;
    }
}