.background {
  .bg1 {
    width: 100px;
    height: 300px;
    border: 1px solid #ccc;
    background: radial-gradient(ellipse at 0%, rgba(0,0,0,.6), transparent, transparent);
  }
  .bg2 {

  }
  .bg3 {

  }
  .bg4 {

  }
}